*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  line-height: 1.6;
  overflow-x: hidden;
  font-family: 'Montserrat';
  width: 100%;
  margin: 0 auto; }

header {
  padding-bottom: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://imageshack.com/a/img924/4852/TqiKRs.jpg");
  background-size: cover; }
  header .navigation .row {
    margin-left: 0;
    margin-right: 0; }

.menu ul {
  padding-top: 8px;
  text-align: center;
  padding-bottom: 80px;
  margin-top: 17px; }
  .menu ul li {
    list-style-type: none;
    display: inline-block;
    border-radius: 50px;
    min-width: 120px;
    padding-top: 5px;
    padding-bottom: 5px; }
    .menu ul li:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      transition: .7s; }
    .menu ul li a {
      color: #fff;
      font-size: 25px;
      text-decoration: none; }

.logo {
  font-family: 'Risque', cursive; }
  .logo a {
    font-size: 45px;
    padding-left: 170px;
    padding-top: 15px;
    color: #fff;
    text-decoration: none; }
  .logo p {
    padding-top: 15px; }
  .logo h3 {
    display: none; }

.main-header {
  text-align: center; }
  .main-header h2 {
    color: #fff;
    font-size: 105px;
    padding-top: 40px;
    padding-bottom: 10px; }
  .main-header p {
    color: #fff;
    font-size: 40px;
    padding-bottom: 160px;
    line-height: 1.6; }

.about {
  background-color: #edeeef;
  padding-top: 100px;
  padding-bottom: 100px; }
  .about .p-photo img {
    border-radius: 25%;
    width: 65%; }
  .about .about-me hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #333; }
  .about .about-me .about-icons {
    margin-left: 200px;
    display: inline; }
    .about .about-me .about-icons i {
      font-size: 50px;
      cursor: pointer;
      padding: 10px;
      color: #333; }
  .about .about-me h3 {
    font-size: 60px;
    margin-top: -10px; }
  .about .about-me p {
    font-size: 20px;
    padding-bottom: 35px;
    font-family: 'Lato';
    padding-top: 30px;
    letter-spacing: 1.5px; }
  .about .about-me .download-btn {
    display: inline-block;
    font-size: 20px; }
    .about .about-me .download-btn i {
      padding-right: 10px; }
    .about .about-me .download-btn button {
      padding: 15px;
      background-color: #333;
      color: #fff;
      border: 1px solid #333;
      border-radius: 50px; }
      .about .about-me .download-btn button:hover {
        background-color: #edeeef;
        color: #26262a;
        transition: 0.6s; }
      .about .about-me .download-btn button:focus {
        outline: 0; }

.skills {
  padding-top: 60px;
  padding-bottom: 150px;
  text-align: center; }
  .skills .css img, .skills .js img {
    width: 70%; }
  .skills .webpack img {
    width: 120%; }
  .skills .process p {
    padding-bottom: 30px; }
  .skills .skills-header p {
    padding-bottom: 30px;
    padding-top: 50px; }
  .skills .skills-header hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #333; }
  .skills h3 {
    font-size: 60px; }
  .skills p {
    font-size: 40px; }


 .wordpress{
  margin-top: 30px;
}
.sass {
  margin-top: 12px; }

.bs img {
  width: 90%; }

.process {
  padding-top: 30px; }

.react img {
  width: 90%; }

.node {
  margin-top: 5px; }
  .node img {
    width: 120%; }

.works {
  padding-top: 30px;
  background-color: #26262a;
  padding-bottom: 50px; }
  .works hr {
    padding-bottom: 60px; }
  .works .line {
    padding-bottom: 30px; }
  .works h3 {
    text-align: center;
    font-size: 60px;
    color: #fff; }
  .works .ih-item .square {
    position: relative;
    height: 185px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
  .works .ih-item .info h5 {
    color: #fff; }

.github-icon {
  text-align: center;
  padding-bottom: 70px; }
  .github-icon i {
    font-size: 33px;
    color: #fff;
    padding-top: 10px; }
  .github-icon p {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    padding-right: 30px;
    font-weight: 600; }

.contact {
  text-align: center;
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 100px; }
  .contact hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #333; }
  .contact .call-header p {
    font-size: 35px;
    padding-top: 30px; }
  .contact .call p {
    font-size: 30px;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px; }
  .contact .call h4 {
    font-size: 25px; }
  .contact .call span {
    font-weight: 600;
    padding-left: 20px; }
  .contact .contact-form {
    text-align: center; }
    .contact .contact-form span {
      font-weight: 600; }
    .contact .contact-form .form-inputs {
      text-align: center; }
    .contact .contact-form input {
      display: block;
      margin: auto;
      width: 45%;
      margin-bottom: 30px;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      border: 2px solid black; }
      .contact .contact-form input::placeholder {
        padding-left: 5px;
        color: black; }
      .contact .contact-form input:focus {
        outline: 0; }
    .contact .contact-form textarea {
      display: block;
      margin: auto;
      width: 45%;
      border-radius: 10px;
      border: 2px solid black; }
      .contact .contact-form textarea::placeholder {
        padding-left: 5px;
        color: black; }
      .contact .contact-form textarea:focus {
        outline: 0; }
    .contact .contact-form button {
      display: block;
      margin: auto;
      width: 15%;
      margin-top: 30px;
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: 1px solid #333;
      border-radius: 50px;
      font-size: 20px; }
      .contact .contact-form button:hover {
        background-color: #edeeef;
        color: #26262a;
        transition: 0.6s; }
      .contact .contact-form button:focus {
        outline: 0; }
    .contact .contact-form p {
      text-align: center;
      font-size: 25px;
      padding-top: 20px; }
  .contact h3 {
    font-size: 60px;
    color: black; }

.footer {
  background-color: #26262a;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .footer p {
    color: #fff;
    font-size: 19px; }

a.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  color: white;
  position: fixed;
  z-index: 999;
  right: 40px;
  bottom: 20px;
  background: #333;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 23px;
  margin-bottom: 15px; }

section {
  position: relative;
  width: 100%;
  height: 100%; }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%); }
  section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font: normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap; }

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s; }
  .demo a:hover {
    opacity: .5; }

#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box; }
  #section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box; }
  #section03 a span:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 60px;
    height: 60px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box; }

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes sdb03 {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0; }
  100% {
    opacity: 0; } }
@media only screen and (max-width: 639px) {
  .amg-badge {
    width: 50%;
    padding: 20px 10%; } }
.amg-skills {
  max-width: 960px; }

.amg-badge {
  padding: 20px 5%;
  cursor: pointer; }
  .amg-badge .css img {
    width: 70%; }
  .amg-badge img {
    width: 100%; }

.amg-badge h3 {
  margin: 0;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF; }

@media (max-width: 767px) {
  .menu {
    display: none; }
    .menu ul {
      padding-left: 15px;
      padding-right: 15px;
      text-align: center; }
      .menu ul li {
        display: block;
        min-width: 120px; }
        .menu ul li:hover {
          background: none; }
        .menu ul li a {
          font-size: 25px; }

  .logo {
    padding: 20px; }
    .logo a {
      padding-left: 50px; }
    .logo p {
      display: none; }
    .logo h3 {
      display: inline;
      color: #fff;
      font-size: 40px;
      cursor: pointer;
      margin-right: 10px; }

  header {
    padding-bottom: 170px; }
    header .navigation {
      text-align: right; }

  .main-header h2 {
    padding-top: 20px;
    font-size: 60px; }
  .main-header p {
    font-size: 20px;
    padding-top: 30px; }

  .about .p-photo {
    text-align: center; }
    .about .p-photo img {
      width: 40%;
      margin-top: 65px;
      margin: 0 auto; }
  .about .about-me p {
    margin-left: 15px;
    margin-right: 15px; }
  .about .about-me h3 {
    padding-top: 80px;
    text-align: center; }
  .about .about-me .about-icons {
    display: block;
    margin-top: 30px;
    margin-left: 10px; }
  .about .about-me button {
    margin-left: 10px; }

  .skills .css img, .skills .js img {
    width: 55%; }
  .skills .bs img {
    width: 70%; }
  .skills .ajax img {
    margin-top: -280px;
    width: 85%; }
  .skills .webpack img {
    width: 90%;
    margin-top: -180px; }

  .amg-badge img {
    width: 75%; }

  .sass {
    margin-top: 12px; }

  .react img {
    width: 60%;
    margin-top: 80px; }

  .es6 img {
    width: 60%; }

  .node {
    margin-top: 5px; }
    .node img {
      width: 70%; }

  .process p {
    padding-top: 30px; }

  .ih-item {
    width: 85%;
    margin: 0 auto;
    height: 116px; }

  .contact .contact-form button {
    width: 40%; }
  .contact .contact-form input {
    width: 60%; }
  .contact .contact-form textarea {
    width: 60%; }
  .contact .call p {
    font-size: 20px; }
  .contact .call span {
    padding-left: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .logo a {
    padding-left: 50px; }

  header {
    padding-bottom: 220px; }

  .main-header h2 {
    padding-top: 50px;
    font-size: 70px; }
  .main-header p {
    font-size: 25px; }

  .about .p-photo img {
    width: 100%;
    margin-top: 135px; }
  .about .about-me .about-icons {
    margin-left: 100px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .main-header h2 {
    padding-top: 50px;
    font-size: 85px; }
  .main-header p {
    font-size: 35px; }

  header {
    padding-bottom: 140px; }

  .about .p-photo img {
    width: 90%;
    margin-top: 120px; } }

/*# sourceMappingURL=style.css.map */
